<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap-5.0.2/dist/css/bootstrap.min.css">
    <script src="./bootstrap-5.0.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
     <nav class="navbar bg-info">
        <h3 class="navbar">Lucky Travels & Tourism</h3>
    
    <nav class="navbar">
        <div class="nav-item">
            <a class="nav-link text-white" href="project.html">Home</a>
            
            </div> 
            <div class="nav-item">
            <a class="nav-link text-white" href="about.html">About Us</a>
            
            </div> 
            <div class="nav-item">
            <a class="nav-link text-white" href="contact.html">Contact Us</a>
            
            </div> 
        </div>
    </nav>
    </nav>
    <br>
    <div class="bg-light text-center">
        <h3>About Us</h3>
        <p>A travel website is an online platform providing travel information, reviews, booking services for flights, hotels, and activities, or a combination of these. They act as digital storefronts for travel businesses like agencies and tour operators, or serve as aggregators and information hubs. Key features include high-quality images, detailed itineraries, user-friendly interfaces, secure booking systems, and customer reviews to build trust.  </p>
    </div>
    <footer style="position: absolute; bottom: 0; width: 100%;">
     <div class="bg-info pt-3 pb-3">
            <h4 class="text-center text-white">Developed by Jeeva | Gray Pixal | jeevalawrance2004@gmail.com</h4>
        </div>
    </footer>
</body>
</html>