<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap-5.0.2/dist/css/bootstrap.min.css">
    <script src="./bootstrap-5.0.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
     <nav class="navbar bg-info">
        <h3 class="navbar">Lucky Travels & Tourism</h3>
    
    <nav class="navbar">
        <div class="nav-item">
            <a class="nav-link text-white" href="{ url 'detail.html' ">Home</a>
            
            </div> 
            <div class="nav-item">
            <a class="nav-link text-white" href="about.html">About Us</a>
            
            </div> 
            <div class="nav-item">
            <a class="nav-link text-white" href="contact.html">Contact Us</a>
            
            </div> 
        </div>
    </nav>
    </nav>
    <br>
    <div class="bg-light text-center">
        <p>Contact: 897484974</p>
        <p>E-mail: jeevalawrance2004@gmail.com</p>
    
    </div>
    <footer style="position: absolute; bottom: 0; width: 100%;">
     <div class="bg-info pt-3 pb-3">
            <h4 class="text-center">Developed by Jeeva | Gray Pixal | jeevalawrance2004@gmail.com</h4>
        </div>
    </footer>
</body>
</html>